* {
    margin: 0;
}

body {
    background: #E5E5E5;
}

body::before {
    content: '';
    width: 100%;
    height: 436px;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: #535971;
}

h1 {
    font-family: 'Staatliches', cursive;
    margin: 140px 0 18px;   
    font-weight: 400;
    font-size: 48px;  
    color: #FFFFFF;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
}

.page {
    width: 736px;
    margin: auto;
}

form {
    background: #FFFFFF;
    height: 1084px;
    border: 0;
    border-radius: 8px;
    margin-top: 58px;
    padding: 64px;
}

fieldset {
    border: 0;
}

fieldset legend {
    font-family: 'Staatliches', cursive;
    font-size: 24px;
    color: #535971;
}

.input-wrapper label {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #4E4958;
}

.input-wrapper input {
    background: #FAFAFC;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    border: 1px solid #E6E6F0;
}
